<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.amu.wmi.reval">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CredentialsSignInActivity"
            android:label="@string/sign_in"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".question.QuestionActivity"
            android:parentActivityName=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.amu.wmi.reval.SignInActivity" />
        </activity>
        <activity
            android:name=".question.page.AdminQuestionPageActivity"
            android:label="@string/question_page" />
        <activity
            android:name=".question.unique.CheckUniqueActivity"
            android:label="@string/check_unique"
            android:parentActivityName=".question.QuestionActivity" />
        <activity
            android:name=".answer.AnswerActivity"
            android:label="@string/answers" />
        <activity
            android:name=".question.AddQuestionActivity"
            android:label="@string/add_question" />
        <activity
            android:name=".answer.page.AdminAnswerPageActivity"
            android:label="@string/answer_page" />
        <activity
            android:name=".answer.page.StudentAnswerPageActivity"
            android:label="@string/answer_page" />
        <activity
            android:name=".question.page.StudentQuestionPageActivity"
            android:label="@string/question" />
    </application>

</manifest>